body{
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-position-y: 25%;
    margin: 0;
    padding: 0;
}
.login,.homepage,.register{
    background-color: rgba(34, 34, 16, 0.404);
    height: 100%;
    width: 100%;
    position: absolute;
}
.box{
	margin-left:25%;
	margin-top:6%;
	position:absolute;
    width: 50%;
}
h1{
	font-size:3em;
	font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color:rgba(255,255,255,0.9);
    margin-top: 7%;
    text-align: center;
}
.username{
	outline:none;
	border:none;
    position: relative;
    display: flex;
    margin-top: 3%;
    justify-content: center;
}
.image{
    margin-left: -20%;
    margin-right: 17%;
}
.username::after,.password::after{
    content: "";
    position: absolute;
    height: 0.2em;
    width:calc(16.7%);
    bottom: 0;
    background-color:white ;
    transform: scaleX(0);
    transition: transform 0.5s ease;
    transform-origin: left;
    justify-content: center;

}
.username:hover::after,.password:hover::after{
    transform: scaleX(1);
}
::placeholder{
	color:rgba(255,255,255,0.6);
}
.username input,.password input{
	outline:none;
	background-color:rgba(0,0,0,0);
	color:white;
	font-size:20px;
	border:none;
	border-bottom:2px rgba(255, 255, 255, 0.541) solid;
}
.password{
	outline:none;
	border:none;
    margin-top:3%;
    position: relative;
    display: flex;
    justify-content: center;

}
.password input[type=password]{
	color:white;
}
.btn{
    display: flex;
    justify-content: center;
}
.btn button{
	width:150px;
	height:30px;
	background-color:rgba(255,99,71,0.8);
	border-radius:2em;
	margin-top:4%;
    margin-bottom: 1%;
	cursor:pointer;
	color:white;
	font-weight:bold;
	font-size:1em;
    border:none;
    position: relative;
    transition: all 0.3s cubic-bezier(1, -0.54, 0.4, 2.04), -webkit-transform 0.3s cubic-bezier(0.15, -0.3, 0.41, 1.33);
}
.btn button:hover{
    font-size:1.3em;
    color:rgba(255,99,71,0.8);
    background-color: rgba(255,255,255,0.8);

}
h2{
	color:rgba(255,255,255,0.9);
	font-size:1.5em;
	text-align:center;
	margin-bottom:20px;
	cursor:pointer;
	font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

@media (max-width: 415px) {
    body{
        background-repeat: no-repeat;
        background-size: 100vh ;
        background-position: top;
        justify-content: center;
        bottom: 0;
    }
    .main{
        background-color: #5CDB95;
        height: 100%;
        width: 100%;
        position: absolute;
    }
	.box{
        background-color: #05386B;
		margin-left:15.5%;
		margin-top:45%;
		position:absolute;
        width: max-content;
        border-radius: 1em;
        padding: 1em;
	}
	h1{
		font-size:2em;
		font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		color:rgba(255,255,255,0.8);
	}
    .username{
        outline:none;
        border:none;
        margin-left:1%;
    }
    .username::after{
        width: calc(101%);
        margin-left: -0.2%;
    }
    .password{
        margin-left:1%;
        margin-top:15%;
    }
    .password::after{
        width: calc(101%);
        margin-left: -0.2%;
    }
    ::placeholder{
        text-align: center;
    }
    button{
        margin-top:20%;
    }
    .image{
      display: none;
    }
}
.nam{
    color: aliceblue;
    display: flex;
    font-size: 1.8em;
    gap: 0.4em;
    transform: translateY(0.7em);
}
.nam:hover{
    color: aqua;
    transition: 1s ease-in-out;
}
.col1{
    animation: bubble 2.7s ease-in-out infinite;
}.col2{
    animation: bubble 3s ease-in-out infinite;
    animation-delay: 0.3s;
}.col3{
    animation: bubble 3s ease-in-out infinite;
    animation-delay: 0.6s;
}.col4{
    animation: bubble 3s ease-in-out infinite;
    animation-delay: 0.9s;
}.col5{
    animation: bubble 3s ease-in-out infinite;
    animation-delay: 1.2s;
}.col6{
    animation: bubble 3s ease-in-out infinite;
    animation-delay: 1.5s;
}.col7{
    animation: bubble 3s ease-in-out infinite;
    animation-delay: 1.8s;
}.col8{
    animation: bubble 3s ease-in-out infinite;
    animation-delay: 2.1s;
}.col9{
    animation: bubble 3s ease-in-out infinite;
    animation-delay: 2.4s;
}
@keyframes bubble{
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    flex-direction: row;
    position: fixed;
}
nav>svg{
    height: 30px;
    width: 50px;
    margin: 20px;
    fill: white;
}
nav>svg:hover{
    fill: aqua;
    transform: scale(1.2);
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
nav>a{
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}
nav>a:hover{
    border-bottom: 4px solid aqua;
    color: aqua;
}
.Bot{
    position: fixed;
    bottom: 20px;
    right: 20px;
    fill: aliceblue;
    cursor: pointer;
    z-index: 1;
}
.Bot>svg{
    width: 4vw;
    animation: mymove 2s infinite;
}
@keyframes mymove{
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
.Bot>svg:hover{
    fill: aqua;
    transition: 0.7s ease-in-out;
}
video{
    width:100%;
    position: absolute;
    z-index: 1;
    opacity: 0.3;
    transform: translateY(-69.5em);
  }
.color-overlay{
    left: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(128,128,128,0.9);
    opacity: 0.9;
    z-index: -1;
  }
  .rit{
      position: fixed;
      right: 0;
      color: aliceblue;
      transform: translateY(1em);
      width:14em;
      display: flex;
      gap: 2em;
  }.log{
    color: aliceblue;
    background-color: transparent;
    text-decoration: none;
    border: solid 2px aliceblue; 
    border-radius: 20px; 
    width: 5em;
    font-weight: bold;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    height: 1.8em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.log:hover,.join:hover{
    animation: vib 2s ease-in-out infinite;
}
// .navi{
//     align-self: center;
//     margin-left: 80%;
// }
// .hom{
//     background-color: transparent;
//     color: aliceblue;
//     border: none;
//     text-decoration: none;
//     font-size: 1em;
//     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
// }
  .join{
    color:aliceblue;
    font-weight: bold;
    background-color:rgba(36, 189, 199, 0.842) ;
    text-decoration: none;
    width: 5em;
    text-align: center; 
    border-radius: 20px;
    border: solid 2px aqua;
    font-size: 1em;
    height: 1.8em;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  .pic img{
      height: 80%;
      width: 100%;
      transform: translateY(-25%);
      z-index: -1;
  }
  .mess{
      position: absolute;
      right: 0;
      height: 32.6em;
      width: 35%;
      transform: translateX(-30%) translateY(-90%);
      border-radius: 50%;
      background: linear-gradient(to top,rgb(33, 224, 224), rgb(233, 98, 233));
}
.mes{
    background-color: white;
    height: 32em;
    width: 98%;
    transform: translateX(1%) translateY(1%);
    padding: 7em;
    border-radius: 50%;
}
.txt{
    width: 100%;
    transform: translateX(7%) translateY(10%);
}
.mess h3,.cm h3{
    color: black;
    font-size: 1.6em;
}
.mess button,.cm button{
    width: 150px;
    height: 30px;
    margin: 2em;
    font-size: 1em;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    color:rgb(33, 224, 224) ;
    border: solid rgb(33, 224, 224) 2px;
    border-radius: 20px;
}
.mess button:hover,.cm button:hover{
    color:rgb(233, 98, 233) ;
    transition: all 0.5s;
    border: solid rgb(233, 98, 233) 2px;
    animation: vib 2s ease-in-out infinite;
}
@keyframes vib{
    25%{ transform: rotateY(45deg) perspective(300px);  }
    75%{ transform: rotateY(-45deg) perspective(-300px); }
}
.fut{
    margin-top: 80%;
    position: absolute;
    background-color: rgb(73,79,85);
    width: 98.9vw;
    height: 50vh;
    color: aliceblue;
}
.fut a{
    color: aliceblue;
    text-decoration: none;
}
.wrd,.con{
    margin-top: 3%;
    text-align: center;
}
.lnk{
    display: flex;
    gap: 1em;
    place-content: center;
}
.m{
    position: fixed;
    top: 0;
}
.container{
    background-color:rgba(128,128,128,0.3);
    border-radius: 20px;
    width: 50%;
    box-shadow: 7px 7px 7px rgba(128,128,128,0.2);
    transform: translateX(50%) translateY(22%);
    color: aliceblue;
    padding: 1em;
}
.date{
    display: flex;
    margin-left: 30%;
}
.from{
    padding-right: 5em;
}
.container h2{
    text-align: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    transition: 1s all ease-in-out;
    background: linear-gradient(#43cea2 , #185a9d);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: revolve 0.3s cubic-bezier(0, 0, 0, 0) infinite ;
    transition: all 0.15s ease-in-out ;
}
@keyframes revolve{
    25%{
    background: linear-gradient( #185b9da9 , #43cea2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    50%{
        background: linear-gradient( #185a9d , #43cea2);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    75%{
        background: linear-gradient(  #43cea2 , #185b9d77);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100%{
        background: linear-gradient(  #43cea2 , #185b9d);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
input[type="submit"]{
    background-color: rgba(24, 202, 225, 0.8);
    color: aliceblue;
    font-size: larger;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 30%;
    height: 30px;
    margin-top: 10%;
    margin-left: 35%;
    transition: 0.5s all ease-in-out;
}
input[type="submit"]:hover{
    background-color: rgba(240, 248, 255, 0.82);
    color: rgba(24, 202, 225, 0.8);

}
input[type="text"]{
    border: none;
    background-color: rgba(0,0,0,0);
    border-bottom: 2px solid white;
    color: aliceblue;
    text-align: center;
    margin-top: 2%;
    margin-left: 30%;
    padding-top: 2em;
    width: 40%;
    font-size: 0.6em;
}
input[type="number"]{
    border: none;
    background-color: rgba(0,0,0,0);
    border-bottom: 2px solid white;
    color: aliceblue;
    text-align: center;
    margin-top: 5%;
    margin-left: 30%;
    padding-top: 2em;
    width: 40%;
    font-size: 1.2em;
}
#hostelNo{
    background-color: rgba(0,0,0,0);
    color: aliceblue;
    border: aliceblue;
    padding: 1em;
    margin-top: 5%;
    margin-left: 42%;
    font-size: 1em;
    border: 2px solid aliceblue;
    border-radius: 20px;
}
#from,#to{
    background-color: rgba(0,0,0,0);
    border: none;
    color: aliceblue;

}
#hostelNo option:nth-child(1){
    color:rgba(227, 29, 245, 0.8);
}#hostelNo option:nth-child(2){
    color:rgba(29, 40, 245, 0.8);
}#hostelNo option:nth-child(3){
    color:rgba(29, 245, 195, 0.8);
}#hostelNo option:nth-child(4){
    color:rgba(79, 245, 29, 0.8);
}#hostelNo option:nth-child(5){
    color:rgba(245, 126, 29, 0.8);
}#hostelNo option:nth-child(6){
    color:rgba(245, 29, 29, 0.8);
}#hostelNo option:nth-child(7){
    color:rgba(223, 245, 29, 0.8);
}#hostelNo option:nth-child(8){
    color:rgba(81, 48, 84, 0.8);
}#hostelNo option:nth-child(9){
    color:rgba(0, 255, 4, 0.8);
}#hostelNo option:nth-child(10){
    color:rgba(29, 227, 245, 0.8);
}#hostelNo option:nth-child(11){
    color:rgba(227, 29, 245, 0.8);
}
#hostelNo option:nth-child(12){
    color:rgba(54, 245, 29, 0.8);
}
.img img{
    height: 100vh;
    width: 100%;
    position: fixed;

}

@media (max-width: 376px){
    .container{
        width: 90%;
        transform: translateX(7%) translateY(40%) ;
        height: 30em;
    }
    .nam{
        font-size: 1.4em;
        transform: translateX(1em);
        place-self: center;
    }
    .img img{
        height: 190%;
        width: 190%;
        position: fixed;
        z-index: -1;
        filter: blur(0.2px);
    }
    .m svg{
        display: none;
    }
    .rit{
        gap: 0em;
        width: 10em;
        transform: translateY(30%);
    }
    .join,.log{
        transform: scale(0.9);
    }
    input[type="text"]{
        width: 80%;
        font-size: 1.4em;
    }
    input[type="number"]{
        font-size: 1.4em;
        width: 80%;
    }
    .form{
        transform: translateX(-3em);
    }
    input[type="date"]{
        background-color: rgba(0,0,0,0);
        border: none;
        border-bottom: 2px solid white;
        color: aliceblue;
    }
    .from{
    padding-right: 3em;
    }
    input[type="submit"]{
        margin-top: 15%;
        margin-left: 50%;
        width: 40%;
    }
    .date{
        margin-top: 1em;
    }
    
}
.g img{
    height: 40%;
    width: 40%;
    margin-left: 10%;
    margin-top: 60%;
}.cards{
    display: flex;
    gap: 1em;
    margin: 10em;
    position: absolute;
}
.card{
    text-align: center;
    height: 15em;
    padding: 2em;
    width: 15em;
    background: linear-gradient(to top,rgb(33, 224, 224), rgb(233, 98, 233));
}
.typ{
    height: 14.5em;
    width: 14.5em;
    padding: 1.8em;
    background-color: white;
    transform: translateX(-12%) translateY(-12%);
    transition: 0.4s all ease-in-out;
    transform-origin: top;
    cursor: pointer;
    text-align: center;
    filter: blur(4px);
}
.typ:hover{
    filter: blur(0px);
    transform: scale(1.12) translateX(-12%) translateY(-19%);
}
.cm{
    position: absolute;
    right: 0;
    height: 32.6em;
    width: 35%;
    transform: translateX(-150%) translateY(90%);
    border-radius: 50%;

    background: linear-gradient(to top,#0ccda3, #c1fcd3);
}
@keyframes ghum{
    50%{    
            transform: translateX(0%) translateY(0%);  
    }
    100%{
        transform: translateX(1%) translateY(1%);
    }
}
.cm1{
  background-color: white;
  height: 32em;
  width: 98%;
  animation-name: ghum;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateX(1%) translateY(1%);
  padding: 8em;
  border-radius: 50%;
}
.cm2{
    position: absolute;
    height: 22em;
    width: 22em;
    transform:translateX(10%) translateY(100%);
    border-radius: 50%;
    animation-name: rolv;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -1;
    background: linear-gradient(to top,#ed765e, #e3bde5);
}
@keyframes rolv{
    50%{
        transform:translateX(100%) translateY(200%) scale(0);
    }
}
.cm3{
    position: absolute;
    height: 7em;
    width: 7em;
    z-index: -1;
    transform:translateX(450%) translateY(-60%);
    border-radius: 50%;
    animation-name: rolve;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(to top,#e3bde5, #ed765e);
}
@keyframes rolve{
50%{
        transform:translateX(130%) translateY(-380%) scale(0); 
    }
}
.cm button:hover{
    border: solid #c1fcd3 2px;
    color:#c1fcd3;
    transition: 1s;
}
.cm button{
    border: solid #0ccda3 2px;
    color:#0ccda3; 
}