body {
  background-image: url("/public/assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.login, .homepage, .register {
  background-color: rgba(34, 34, 16, 0.404);
  height: 100%;
  width: 100%;
  position: absolute;
}

.box {
  margin-left: 25%;
  margin-top: 6%;
  position: absolute;
  width: 50%;
}

h1 {
  font-size: 3em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 7%;
  text-align: center;
}

.username {
  outline: none;
  border: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image {
  margin-left: -20%;
  margin-right: 17%;
}

.username::after, .password::after {
  content: "";
  position: absolute;
  height: 0.2em;
  width: calc(16.7%);
  bottom: 0;
  background-color: white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.username:hover::after, .password:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.username input, .password input {
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 20px;
  border: none;
  border-bottom: 2px rgba(255, 255, 255, 0.541) solid;
}

.password {
  outline: none;
  border: none;
  margin-top: 3%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.password input[type=password] {
  color: white;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button {
  width: 150px;
  height: 30px;
  background-color: rgba(255, 99, 71, 0.8);
  border-radius: 2em;
  margin-top: 4%;
  margin-bottom: 1%;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 1em;
  border: none;
  position: relative;
  transition: all 0.3s cubic-bezier(1, -0.54, 0.4, 2.04), -webkit-transform 0.3s cubic-bezier(0.15, -0.3, 0.41, 1.33);
}

button:hover {
  font-size: 1.3em;
  color: rgba(255, 99, 71, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
}

h2 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

@media (max-width: 415px) {
  body {
    background-repeat: no-repeat;
    background-size: 100vh;
    background-position: top;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    bottom: 0;
  }
  .main {
    background-color: #5CDB95;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .box {
    background-color: #05386B;
    margin-left: 15.5%;
    margin-top: 45%;
    position: absolute;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border-radius: 1em;
    padding: 1em;
  }
  h1 {
    font-size: 2em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(255, 255, 255, 0.8);
  }
  .username {
    outline: none;
    border: none;
    margin-left: 1%;
  }
  .username::after {
    width: calc(101%);
    margin-left: -0.2%;
  }
  .password {
    margin-left: 1%;
    margin-top: 15%;
  }
  .password::after {
    width: calc(101%);
    margin-left: -0.2%;
  }
  ::-webkit-input-placeholder {
    text-align: center;
  }
  :-ms-input-placeholder {
    text-align: center;
  }
  ::-ms-input-placeholder {
    text-align: center;
  }
  ::placeholder {
    text-align: center;
  }
  button {
    margin-top: 20%;
  }
  .image {
    display: none;
  }
}
/*# sourceMappingURL=Main.css.map */